Natural Language Processing/BBC News Classification/venv/.ipynb_checkpoints/
Natural Language Processing/BBC News Classification/venv/etc/
Natural Language Processing/BBC News Classification/venv/Include/
Natural Language Processing/BBC News Classification/venv/Lib/
Natural Language Processing/BBC News Classification/venv/Scripts/
Natural Language Processing/BBC News Classification/venv/share/
Natural Language Processing/BBC News Classification/venv/pyvenv.cfg

Unsupervised Learning/Book Recommendation System/brs/.ipynb_checkpoints/
Unsupervised Learning/Book Recommendation System/brs/etc/
Unsupervised Learning/Book Recommendation System/brs/Include/
Unsupervised Learning/Book Recommendation System/brs/Lib/
Unsupervised Learning/Book Recommendation System/brs/Scripts/
Unsupervised Learning/Book Recommendation System/brs/share/
Unsupervised Learning/Book Recommendation System/brs/pyvenv.cfg

Supervised Learning/Heart Disease Prediction/venv/.ipynb_checkpoints/
Supervised Learning/Heart Disease Prediction/venv/etc/
Supervised Learning/Heart Disease Prediction/venv/Include/
Supervised Learning/Heart Disease Prediction/venv/Lib/
Supervised Learning/Heart Disease Prediction/venv/Scripts/
Supervised Learning/Heart Disease Prediction/venv/share/
Supervised Learning/Heart Disease Prediction/venv/pyvenv.cfg

Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/.ipynb_checkpoints/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/etc/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/Include/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/Lib/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/Scripts/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/share/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/pyvenv.cfg
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/test/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/venv/train/

Natural Language Processing/NLP with Disaster Tweets/venv/.ipynb_checkpoints/
Natural Language Processing/NLP with Disaster Tweets/venv/etc/
Natural Language Processing/NLP with Disaster Tweets/venv/Include/
Natural Language Processing/NLP with Disaster Tweets/venv/Lib/
Natural Language Processing/NLP with Disaster Tweets/venv/Scripts/
Natural Language Processing/NLP with Disaster Tweets/venv/share/
Natural Language Processing/NLP with Disaster Tweets/venv/pyvenv.cfg

Deep Learning/Computer Vision/License Plate Recognition/anpr/.ipynb_checkpoints/
Deep Learning/Computer Vision/License Plate Recognition/anpr/Include/
Deep Learning/Computer Vision/License Plate Recognition/anpr/Lib/
Deep Learning/Computer Vision/License Plate Recognition/anpr/Scripts/
Deep Learning/Computer Vision/License Plate Recognition/anpr/share/
Deep Learning/Computer Vision/License Plate Recognition/TFODCourse/
Deep Learning/Computer Vision/License Plate Recognition/anpr/1. Image Collection.ipynb
Deep Learning/Computer Vision/License Plate Recognition/anpr/pyvenv.cfg
Deep Learning/Computer Vision/License Plate Recognition/anpr/Tensorflow/
