Deep Learning/Computer Vision/Medical Imaging Segmentation/.ipynb_checkpoints/
Deep Learning/Computer Vision/Medical Imaging Segmentation/stage1_test/
Deep Learning/Computer Vision/Medical Imaging Segmentation/stage1_train/

Deep Learning/Computer Vision/Flowers Recognition/.ipynb_checkpoints/
Deep Learning/Computer Vision/Flowers Recognition/flowers/
Deep Learning/Computer Vision/Flowers Recognition/training_1/
Deep Learning/Computer Vision/Flowers Recognition/training_2/

Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/.ipynb_checkpoints/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/etc/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/Include/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/Lib/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/Scripts/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/share/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/pyvenv.cfg
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/test/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/train/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/training_1/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/model1.keras
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/model1.h5
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/sample_submission.csv
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/submission.csv
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/train_labels.csv
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/test.ipynb


Deep Learning/Computer Vision/License Plate Recognition/.ipynb_checkpoints/
Deep Learning/Computer Vision/License Plate Recognition/Tensorflow/
Deep Learning/Computer Vision/License Plate Recognition/test/

Deep Learning/Computer Vision/Drowsiness Detection/


Deep Learning/Generative AI/Generative Adversarial Network/Satellite Image To Maps Translation/.ipynb_checkpoints/
Deep Learning/Generative AI/Generative Adversarial Network/Satellite Image To Maps Translation/maps/
Deep Learning/Generative AI/Generative Adversarial Network/Satellite Image To Maps Translation/model_010960.h5

Deep Learning/Generative AI/LLM Fine Tuning/.ipynb_checkpoints/
Deep Learning/Generative AI/LLM Fine Tuning/model1/
Deep Learning/Generative AI/LLM Fine Tuning/results/
Deep Learning/Generative AI/LLM Fine Tuning/QA-roberta/
Deep Learning/Generative AI/LLM Fine Tuning/Untitled1.ipynb
Deep Learning/Generative AI/LLM Fine Tuning/Untitled1-Copy1.ipynb

Deep Learning/Generative AI/Retrieval Augmented Generation/.ipynb_checkpoints/
Deep Learning/Generative AI/Retrieval Augmented Generation/chroma_db
Deep Learning/Generative AI/Retrieval Augmented Generation/noah_chroma_db
Deep Learning/Generative AI/Retrieval Augmented Generation/SOTU_chroma_db
Deep Learning/Generative AI/Retrieval Augmented Generation/biden-sotu-2023-planned-official.txt
Deep Learning/Generative AI/Retrieval Augmented Generation/Noah.txt

Deep Learning/Generative AI/LLM RAG/



Deep Learning/Time Series Forecasting/Stock Price Prediction/
Deep Learning/Time Series Forecasting/Product Sales Prediction/
Deep Learning/Time Series Forecasting/Tesla Sales Prediction/



Natural Language Processing/BBC News Classification/venv/.ipynb_checkpoints/
Natural Language Processing/BBC News Classification/venv/etc/
Natural Language Processing/BBC News Classification/venv/Include/
Natural Language Processing/BBC News Classification/venv/Lib/
Natural Language Processing/BBC News Classification/venv/Scripts/
Natural Language Processing/BBC News Classification/venv/share/
Natural Language Processing/BBC News Classification/venv/pyvenv.cfg

Natural Language Processing/NLP with Disaster Tweets/venv/.ipynb_checkpoints/
Natural Language Processing/NLP with Disaster Tweets/venv/etc/
Natural Language Processing/NLP with Disaster Tweets/venv/Include/
Natural Language Processing/NLP with Disaster Tweets/venv/Lib/
Natural Language Processing/NLP with Disaster Tweets/venv/Scripts/
Natural Language Processing/NLP with Disaster Tweets/venv/share/
Natural Language Processing/NLP with Disaster Tweets/venv/pyvenv.cfg

Supervised Learning/Heart Disease Prediction/.ipynb_checkpoints/
Supervised Learning/Heart Disease Prediction/framingham.csv


Supervised Learning/Bank Customer Churn Prediction/.ipynb_checkpoints/
Supervised Learning/Bank Customer Churn Prediction/FeatureEngineering.ipynb
Supervised Learning/Bank Customer Churn Prediction/Churn_Modeling.csv

Supervised Learning/Credit Default Prediction/.ipynb_checkpoints/
Supervised Learning/Credit Default Prediction/Loan_default.csv
Supervised Learning/Credit Default Prediction/Untitled.ipynb

Supervised Learning/Article Classification/

Supervised Learning/Tesla Sales Forecasting/.ipynb_checkpoints/
Supervised Learning/Tesla Sales Forecasting/TSLA.csv

Unsupervised Learning/Book Recommendation System/brs/.ipynb_checkpoints/
Unsupervised Learning/Book Recommendation System/brs/etc/
Unsupervised Learning/Book Recommendation System/brs/Include/
Unsupervised Learning/Book Recommendation System/brs/Lib/
Unsupervised Learning/Book Recommendation System/brs/Scripts/
Unsupervised Learning/Book Recommendation System/brs/share/
Unsupervised Learning/Book Recommendation System/brs/pyvenv.cfg

Unsupervised Learning/Customer Segmentation/.ipynb_checkpoints/
Unsupervised Learning/Customer Segmentation/Mall_Customers.csv
Unsupervised Learning/Customer Segmentation/Customer_Segmentation.ipynb


Supervised Learning/Credit Card Default Prediction/best_model.pkl
Supervised Learning/Credit Card Default Prediction/best_model_tuned.pkl
Supervised Learning/Credit Card Default Prediction/X_test_prerocessed.csv
Supervised Learning/Credit Card Default Prediction/X_train_preprocessed.csv
Supervised Learning/Credit Card Default Prediction/y_test
Supervised Learning/Credit Card Default Prediction/y_train
