Natural Language Processing/BBC News Classification/venv/.ipynb_checkpoints/
Natural Language Processing/BBC News Classification/venv/etc/
Natural Language Processing/BBC News Classification/venv/Include/
Natural Language Processing/BBC News Classification/venv/Lib/
Natural Language Processing/BBC News Classification/venv/Scripts/
Natural Language Processing/BBC News Classification/venv/share/
Natural Language Processing/BBC News Classification/venv/pyvenv.cfg

Unsupervised Learning/Book Recommendation System/brs/.ipynb_checkpoints/
Unsupervised Learning/Book Recommendation System/brs/etc/
Unsupervised Learning/Book Recommendation System/brs/Include/
Unsupervised Learning/Book Recommendation System/brs/Lib/
Unsupervised Learning/Book Recommendation System/brs/Scripts/
Unsupervised Learning/Book Recommendation System/brs/share/
Unsupervised Learning/Book Recommendation System/brs/pyvenv.cfg

Supervised Learning/Heart Disease Prediction/venv/.ipynb_checkpoints/
Supervised Learning/Heart Disease Prediction/venv/etc/
Supervised Learning/Heart Disease Prediction/venv/Include/
Supervised Learning/Heart Disease Prediction/venv/Lib/
Supervised Learning/Heart Disease Prediction/venv/Scripts/
Supervised Learning/Heart Disease Prediction/venv/share/
Supervised Learning/Heart Disease Prediction/venv/pyvenv.cfg

Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/.ipynb_checkpoints/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/etc/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/Include/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/Lib/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/Scripts/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/share/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/pyvenv.cfg
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/test/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/train/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/training_1/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/training_2/
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/best_model_1.h5
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/model_1_trained.keras
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/sample_submission.csv
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/submission.csv
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/train_labels.csv
Deep Learning/Computer Vision/Histopathologic Cancer Detection/HCP/trained_model.h5


Natural Language Processing/NLP with Disaster Tweets/venv/.ipynb_checkpoints/
Natural Language Processing/NLP with Disaster Tweets/venv/etc/
Natural Language Processing/NLP with Disaster Tweets/venv/Include/
Natural Language Processing/NLP with Disaster Tweets/venv/Lib/
Natural Language Processing/NLP with Disaster Tweets/venv/Scripts/
Natural Language Processing/NLP with Disaster Tweets/venv/share/
Natural Language Processing/NLP with Disaster Tweets/venv/pyvenv.cfg

Deep Learning/Computer Vision/License Plate Recognition/.ipynb_checkpoints/
Deep Learning/Computer Vision/License Plate Recognition/Tensorflow/

Deep Learning/Computer Vision/Deep Face Recognition/
Deep Learning/Computer Vision/License-Plate-Recognition/

Deep Learning/Generative AI/Generative Adversarial Network/Satellite Image To Maps Translation/.ipynb_checkpoints/
Deep Learning/Generative AI/Generative Adversarial Network/Satellite Image To Maps Translation/maps/
Deep Learning/Generative AI/Generative Adversarial Network/Satellite Image To Maps Translation/model_010960.h5